# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
.installed.cfg
*.egg
dist/
build/
*.tar.gz
*.zip

# Django stuff:
*.log
*.pot
*.pyc
*.mo
*.env

# If your Django project uses local settings
local_settings.py

# Media files
media/

# Static files
staticfiles/

# Django migrations
*/migrations/*

# PyCharm
.idea/


# Windows
Thumbs.db
ehthumbs.db


# Node modules
node_modules/
